body{
    background-color: #f7f3e9;
}
.login{
   border:1px solid black;
   box-shadow: 3px 3px 5px 6px #ccc;

   margin-top: 10%;
   display:inline-block;
   padding:20px;
   background-color: #a3d2ca;

}

.form-group{
    padding:5px;
}

.navbar{
    background-color: #f8f5f1;
    color: black;
}

.active1{  
    text-decoration: none;  
}

.user{
    color:white;
    padding-right:14px;
}